<p>Hola {{ user.name }},</p>
<br>
<p>se ha creado una nueva cuenta en el sitio pilargamboa.com utilizando este correo electr&oacute;nico, si usted no ha solicitado o
esta cuenta parece sospechosa, por favor enviar un mensaje de correo electr&oacute;nico a la direcci&acute;n info@pilargamboacr.org
para la revisi&oacute;n y eliminaci&oacute;n de la cuenta correspondiente.</p>
<br>
<p>Si esta cuenta es correcta a partir de este momento puede ingresar utilizando las siguientes credenciales:</p>

<p>Nombre de Usuario: <strong>{{ user.username }}</strong></p>
<p>Contraseña: <strong>{{ rawPassword }}</strong></p>
<br>
<p>Muchas gracias,<p>
<br>
<p>Pilar Gamboa</p>